@use "../abstracts" as a;

.form {
  border: 1px solid adjust-hue(a.$yellow, -11deg);
  border-radius: a.$base-border-radius;

  input {
    font-family: inherit;
    font-size: inherit;
    padding: a.$base-padding * 0.5 a.$base-padding;
    background-color: transparent;
    border: none;
    color: adjust-hue(a.$yellow, -15deg);
    letter-spacing: 0.5px;
    text-overflow: ellipsis;
    max-inline-size: 13rem;

    &:focus {
      outline: none;
    }
  }
}
