@use "../abstracts" as a;

.grid {
  display: grid;
  place-items: flex-start center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: a.$base-gap * 6;

  @include a.breakpoint(xlarge) {
    grid-template-columns: repeat(2, 1fr);
  }
}
