$red: red;
$green: green;
$white: white;
$black: black;
$grey: grey;
$blue: blue;
$cyan: cyan;
$limegreen: limegreen;
$yellow: yellow;

$base-font-size: 1rem;
$base-padding: 0.5em;
$base-margin: 0.5em;
$base-gap: 5px;
$base-border-radius: 1.3rem;
$base-lh: 1.5;
$font-weights: (
  "regular": 400,
  "semi": 600,
  "bold": 700
);
